
.clock {
  zoom: 1;
  width:302px;
  height:388px;
  background-image:url(http://stebaker.com/clock_face/clock_face.png);
  background-repeat: no-repeat;
  position: absolute;
  left: calc((100% - 302px)/2);
  left: -webkit-calc((100% - 302px)/2);
  left: -moz-calc((100% - 302px)/2);
}

.container{
	width:100%;
	height: 100%;
	position: fixed;
}


.clock div{
	margin-top: 84px;
}

.clock-shadows div{
	margin:0 0 0 10px;
	opacity: 0.1;
}

.hour-hand{
	width:302px;
	height:302px;
	background-image:url(http://stebaker.com/clock_face/clock_hour_hand.png);
	position: absolute;
}

.minute-hand{
	margin-left:1px;
	width:302px;
	height:302px;
	background-image:url(http://stebaker.com/clock_face/clock_minute_hand.png);
	position: absolute;
}

.seconds-hand{
	margin-left:-1px;
	width:302px;
	height:302px;
	background-image:url(http://stebaker.com/clock_face/clock_seconds_hand.png);
	position: absolute;
}

.pivot{
	width:302px;
	height:302px;
	background-image:url(http://stebaker.com/clock_face/clock_pivot.png);
	position: absolute;
}
.slide-in {
  z-index: 10; /* to position it in front of the other content */
  position: absolute;
  overflow: hidden; /* to prevent scrollbar appearing */
}

.slide-in.from-left {
  left: 100;
}

.slide-in.from-right {
  right: 0;
}

.slide-in-content {
  height: 388px;
  width: 302px;
  transition: all .5s ease; /* our nice transition */
}

.slide-in.from-left .slide-in-content {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.slide-in.from-right .slide-in-content {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.slide-in.show .slide-in-content {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}
